
@media only screen and (min-width: 769px) and (max-width: 10000px) {
	#mobile_sec .menumobile { display: block!important; }
}


@media only screen and (min-width: 480px) and (max-width: 767px) {

	header { width: 100%; position: absolute; height: 57px;}
	header .Center { width: 100%;  }
	header .site-logo { padding: 10px 0% 0px 3%; position: relative; z-index: 1; }
	header .site-logo h1 { margin: 0px; line-height: 36px; }
	header.smaller { height: 55px;}
	header.smaller .site-logo { padding: 10px 0% 0px 3%; }
	header.smaller .site-logo h1 a { font-size: 36px; }
	
    #mobile_sec { position: fixed; width: 100%; }
	#mobile_sec .mobile { display: block; position: relative; float: right;}
	#mobile_sec .menumobile { display: none; width: 100%; position: absolute; top: 55px; right: 0%; background: rgba(0, 0, 0, 0.5);  }
	#mobile_sec .menumobile .Navigation { width: 100%; float: none; }
	#mobile_sec .menumobile .Navigation ul { float: none;}
	#mobile_sec .menumobile .Navigation li { float: none; width: 100%; border-bottom: solid 1px #0099cc; }
	#mobile_sec .menumobile .Navigation li a { padding: 10px 21px; background: none; border-bottom: none; }
	#mobile_sec .menumobile .Navigation li:last-child { border-bottom: none; }
	
    .Banner_sec { width: 100%; height: 620px; }
	.Banner_sec .Center {width: 100%; padding: 0px 3%; }
	.Banner_sec .bannerside { top: 144px; }
	
	.Banner_sec .centerside { width: 99%;}
	.Banner_sec .centerside .Slider { width: 100%;}
	.Banner_sec .centerside .Shadow { width: 105.5%; left: -16px; }
	.Banner_sec .centerside .prevBtn { top: 100px; left: 10px; }
	.Banner_sec .centerside .nextBtn { top: 100px; right: 10px; }
	.Banner_sec .centerside #slider li img { height: 280px; width: 100%;}		

	.bgcolor { height: 50px; }

	#Container { width: 100%; }

	.About_sec { width: 100%; padding: 100px 0px 50px; }
	.About_sec .Center { width: 100%; padding: 0px 3%; }
	.About_sec h2 { font-size: 30px; line-height: 30px; }
	.About_sec p { padding: 15px 0px; font-size: 13px; }
	.About_sec .Tabside { padding: 30px 0 0px 0; }
	.About_sec .Tabside ul { padding-bottom: 25px;}
	.About_sec .Tabside li a { font-size: 14px; padding: 14px 30px; }
	.About_sec .Tabside .TabImage { width: 100%; float: none; padding-bottom: 35px; text-align: center;}
	.About_sec .Tabside .TabImage .img1 { left: 0px; position: relative; }
	.About_sec .Tabside .TabImage .img1 img { margin: auto;}
	.About_sec .Tabside .TabImage .img2 { left: 25px;  }
	.About_sec .Tabside .TabImage .img2 img { width: 100%; height: auto; }
	.About_sec .Tabside .Description { margin-top: 0px; width: 100%; }
	.About_sec .Tabside .Description p { padding: 10px 0px; text-align: justify; }

	.Video_sec { width: 100%; padding: 100px 0px 30px; }
	.Video_sec .Center { width: 100%; padding: 0px 3%; }
	.Video_sec h2 { font-size: 30px; line-height: 30px; }
	.Video_sec p { padding: 15px 0px; font-size: 13px; }
	
	.Pulau_sec { width: 100%; }
	.Pulau_sec .Center { width: 100%; padding: 80px 3%;}
	.Pulau_sec h2 { font-size: 30px; line-height: 30px; }
	.Pulau_sec p { padding: 15px 0px; font-size: 13px; }

	.Pulau_sec .Map { width: 100%;}
	.Pulau_sec .Map img { height: 200px; width: 100%; }

	footer { width: 100%; }
	footer .Cntr { width: 100%; padding: 10px 3%; }
}



@media only screen and (max-width: 479px) {


	header { width: 100%; position: absolute; height: 57px; }
	header .Center { width: 100%;}
	header .site-logo { padding: 10px 0% 0px 3%; position: relative; z-index: 1; }
	header .site-logo h1 { margin: 0px; line-height: 36px; }
	header.smaller { height: 55px;}
	header.smaller .site-logo { padding: 10px 0% 0px 3%; }
	header.smaller .site-logo h1 a { font-size: 36px; }
	
	
	#mobile_sec { position: fixed; width: 100%;}
	#mobile_sec .mobile { display: block; position: relative; float: right; }
	#mobile_sec .menumobile { display: none; width: 100%; position: absolute; top: 55px; right: 0%; background: rgba(0, 0, 0, 0.5);  }
	#mobile_sec .menumobile .Navigation { width: 100%; float: none; }
	#mobile_sec .menumobile .Navigation ul { float: none;}
	#mobile_sec .menumobile .Navigation li { float: none; width: 100%; border-bottom: solid 1px #0099cc; }
	#mobile_sec .menumobile .Navigation li a { padding: 10px; background: none; border-bottom: none; }
	#mobile_sec .menumobile .Navigation li a:hover, #mobile_sec .menumobile .Navigation li a.active { background: #0099cc; border-bottom: none; }
	#mobile_sec .menumobile .Navigation li:last-child { border-bottom: none; }
	
	.Banner_sec { width: 100%; height: 556px; }
	.Banner_sec .Center {width: 100%; padding: 0px 3%; }
	.Banner_sec .bannerside { top: 90px; }
	
	.Banner_sec .centerside { width: 98%;}
	.Banner_sec .centerside .Slider { width: 99%; text-align: center; }
	.Banner_sec .centerside .Shadow { width: 105.5%; left: -16px; }
	.Banner_sec .centerside .prevBtn { top: 100px; left: 10px; }
	.Banner_sec .centerside .nextBtn { top: 100px; right: 10px; }
	.Banner_sec .centerside #slider li img { height: 290px; width: 100%;}	

	
	.bgcolor { height: 50px; }

	#Container { width: 100%; }

	.About_sec,
	.Video_sec,
	 { 
		width: 100%; padding: 60px 0px 30px; 
	}
	.About_sec .Center { width: 100%; padding: 0px 3%; }
	.About_sec h2 { font-size: 30px; line-height: 30px; }
	.About_sec p { padding: 15px 0px; font-size: 13px; }
	.About_sec .Tabside { padding: 30px 0 0px 0; }
	.About_sec .Tabside ul { padding-bottom: 25px;}
	.About_sec .Tabside li a { font-size: 13px; padding: 14px; }
	.About_sec .Tabside .TabImage { width: 100%; float: none; padding-bottom: 25px; text-align: center;}
	.About_sec .Tabside .TabImage .img1 { left: 0px; position: relative; height: 244px; background: none;background-size: 100%; }
	.About_sec .Tabside .TabImage .img1 img { margin: auto;}
	.About_sec .Tabside .TabImage .img2 { left: 20px;  background: none; background-size: 100%; }
	.About_sec .Tabside .TabImage .img2 img { width: 94%; height: auto; }
	.About_sec .Tabside .Description { margin-top: 0px; width: 100%; }
	.About_sec .Tabside .Description p { padding: 10px 0px; text-align: justify; }
	
	.Video_sec .Center { width: 100%; padding: 0px 3%; }
	.Video_sec h2 { font-size: 30px; line-height: 30px; }
	.Video_sec p { padding: 15px 0px; font-size: 13px; }
	
	
	.Pulau_sec { width: 100%; }
	.Pulau_sec .Center { width: 100%; padding: 60px 3% 30px;}
	.Pulau_sec h2 { font-size: 30px; line-height: 30px; }
	.Pulau_sec p { padding: 15px 0px; font-size: 13px; }

	.Pulau_sec .Map { width: 100%;}
	.Pulau_sec .Map img { height: 200px; width: 100%; }

	footer { width: 100%; }
	footer .Cntr { width: 100%; padding: 10px 3%; }	
}

@media only screen and (max-width: 1199px) {
	
	header,
	.Navigation li,
	.Navigation li:hover span, 
	.Navigation li.active span { 
		height: 87px; }
	header.smaller .Navigation li:hover span,
	header.smaller .Navigation li.active span {
		height: 60px;
	}
}
@media only screen and (max-width: 767px) {
	header { 
		height: 55px; 
		position: fixed;
	}
	.Navigation li {
		height: 45px;
	}
	header .site-logo {
		padding-top: 8px;
	}
	.Navigation li:hover span, .Navigation li.active span {
		height: 45px;
	}
	.Navigation li span {
		border-bottom: none;
		background: none;
	}
	#mobile_sec .menumobile .Navigation li:hover, 
	#mobile_sec .menumobile .Navigation li.active {
		background: #0099cc none repeat scroll 0% 0%;
		border-bottom: medium none;
	}
	
	header.smaller .Navigation li {
		height: 45px;
	}
	
}
